*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.site-container {
  min-height: 100vh;
}
/* header {
  background-color: #001219;

}

header a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
} */

main {
  flex: 1;
}




.products {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.product {
  border: 2px #e5e5e5 solid;
  margin: 1rem;
  text-align: center;
}

.product img {
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  /* height: 100%; */
  margin-right: 2rem;

}

.product-info {
  padding: 1rem;
}

.price {
  font-weight: bold;
}

.rating  span {
  color: #ffba08;
}

.img-large {
  max-width: 100%;
}

#cart-button {
  background-color:#ffba08;
  border: none;
}

#cart-button:hover {
  background-color: #f48c06;
}

.img-thumbnail {
  height: 80px;
}


#btn{ 
    background-color: "#ffba08";
    color: "#03071e";
     border: "none";
    font-weight: 400;
  }
#btn:hover {
  background-color:blue;
}


.footer-text {
  color: gray;
}


.checkout-steps > div {
  border-bottom: 0.2rem solid gray;
  color: gray;

}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f48c06;
  color: #ffba08;
}